* {
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 30, 83);
  margin: 0;
  padding: 10px;
}

h4 {
  margin: 0;
}

input, .btn {
  height: 20px;
  border-radius: 4px;
}

.panel-create, .panel-update, .panel-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;

}

.header, .page, .footer {
  margin: 5px;
}

.btn-reset, .car-delete {
  margin: 0 5px;
}

.car-img {
  margin-left: 10px;

}

svg{
  height: 60px;
  margin-top: -18px;
}

.car-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 3px dashed white;
  margin-bottom: 2px;
  height: 28px;
}

.car-options {
  display: flex;
  flex-direction: row;
  height: 18px;
  margin-bottom: 2px;
  margin-top: 3px;
}

.car-name, .title {
  color: aliceblue;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 80%;
}

.car-start, .car-stop {
  font-size: 75%;
  border-radius: 4px;
}

.car {
  margin-bottom: 10px;
}

.winners-list {
  color: white;
  font-size: 1vw;
  border-collapse: collapse;
  text-align: left;
}

.winners-list th {
  text-align: center;
  margin: 2px;
  border: 1px dashed black;
}

.winners-list td {
  text-align: center;
  margin: 2px;
  border: 1px dashed black;
  vertical-align: middle;
}

.winners-list svg {
  vertical-align: bottom;
}

.finish {
  width: 30px;
  height: 30px;
}

.car-control {
  position: relative;
}

.finishSign {
  position: absolute;
  right: 0px;
  top: 10px;
}

.winner-message {
  width: 200px;
  height: 100px;
  color: aliceblue;
  position: absolute;
  top: 50%;
  right: 45%;
  vertical-align: middle;
  text-align: center;
}

button {
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

a {
  color: aliceblue;
}

#winsBestTime, #winsTimes {
  cursor: pointer;
}
